{% extends "layout.html" %}
{% block content %}
  <h3>Recommandations</h3>
  <br>

  
  <ul id="navigation">
    {% for film in films %}
        <li><b>tittre</b> : {{ film[0].titre }} <br>  <b>genre</b> {{ film[0].genre }}</li>
    {% endfor %}
    </ul>
{% endblock %}